.js #menu {
	display:none;
}
.slicknav_menu {
	display:none;
}
.slicknav_menu {
	background: #22774A !important;
}
.short-excerpt {
	text-align: justify;
}
.mobile-hr {
	display: none;
}
.footer-copyright {
	text-align: center;
}
.hotline-mobile {
	display: none;
}
@media screen and (max-width: 40em) {
	/* #menu is the original menu */

	.js .slicknav_menu {
		display:block;
	}
	#navigation-fix-top {
		display: none
	}
	#btn-text {
		font-size: 1em !important;
	}
	#cate-mobile {
		display: none;
	}
	#logo img{
		margin: 0 auto;
	}
	.mobile-full {
		width: 100% !important;
		margin: 10px 0px;
	}
	.gsearch {
		display: none;
	}
	.header-left, .header-center, .header-info {
		margin: 10px 0px;
	}
	.mobile-hr {
		display: block !important; 
		border: 2px solid #22774A !important;
	}
	#navigation-fix-top-sticky-wrapper {
		display: none;
	}
	.lien-he input[type='email'] {
		margin: 10px 25px !important;
		width: 50% !important;
	}
	.lien-he input[type='submit'] {
		margin: 10px 0px !important;
		font-size: 0.8em
	}
	.dkmail {
		text-align: center !important;
	} 
	.social-media {
		margin: 0.5em 0 0.5em 3em !important;
	}
	.hotline-mobile {
		display: block;
		position: fixed;
		bottom: 29px;
		left: 10px;
		background: #3366FF;
		z-index: 9000;
		padding: 9px 12px;
		border-radius: 50%;
		color: #fff;
		font-size: 1em;
	}
	.textwidget, #menu-chinh-sach {
		font-size: 0.9em !important;
	}
	ul.menu>li, .widget>ul>li {
		margin: 5px 0px !important;
	}
}
