    .edit{
        /*background: #EEECEC;*/
        padding: 10px;
        font-size: 26px;
        font-weight: bold;
        /*border-radius: 5px;*/
    }
    .modalback{
        background: -webkit-linear-gradient(178deg, #01A9DB 0%, #00BFFF 100%);
        background: linear-gradient(178deg, #01A9DB 0%, #00BFFF 100%);
    }
    .inhd{
        background: -webkit-linear-gradient(178deg, #01A9DB 0%, #00BFFF 100%);
        background: linear-gradient(178deg, #01A9DB 0%, #00BFFF 100%);
        padding: 7px 4px 4px 7px;
        color: #fff;
        border-radius: 7px;
    }
    .btna{
        /*padding: 6px 20px;*/
        color: #fff;
        border-radius: 5px;
    }
    .modal-close-area.modal-close-df {
        right: 35px;
    }
    .modal-close-area {
        position: absolute;
        right: -30px;
        top: -20px;
    }
    .modal-close-area .close {
        opacity: 1;
    }
    .modal-close-area a {
        color: #fff;
        font-size: 16px;
        background: #03a9f4;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 28px;
        display: block;
        border-radius: 50%;
    }
    .close {
        padding: 8px 10px;
        margin-top: -88px;
        margin-right: -58px;
        float: right; 
        font-size: 15px;
        line-height: 1;
        color: #ffffffba;
        opacity: 1;
        background: #35cc7b;
        border-radius: 50%;
    }
    .modal-adminpro-general .modal-footer {
        border-top: 0px solid #fff;
    }
    .modal-footer {
        padding: 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }
    a:visited, a:link, a:active {
        text-decoration: none;
    }
    .btnsave{
        padding: 12px 23px;
        color: #fff;
        font-size: 14px;
        background: #03a9f4;
        margin-left: 15px
    }
    .btnclose{
        padding: 12px 23px;
        color: #fff;
        font-size: 14px;
        background: #F42F2F;
        margin-left: 15px
    }
    .orderlaber{
        width: 70%;
        float: left;
    }
    .orderbtn{
        width: 30%;
        float: right;
        text-align:right;
    }
    .orderbtnformn{
        width: 100%;
    }
    .orderbtnforms{
        width: 100%;
        color: green;
    }
    .top-nav {
        padding: 0 15px;
    }

    .top-nav>li {
        display: inline-block;
        float: left;
    }

    .top-nav>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 20px;
        color: #fff;
    }

    .top-nav>li>a:hover,
    .top-nav>li>a:focus,
    .top-nav>.open>a,
    .top-nav>.open>a:hover,
    .top-nav>.open>a:focus {
        color: #fff;
        background-color: #1a242f;
    }

    .top-nav>.open>.dropdown-menu {
        float: left;
        position: absolute;
        margin-top: 0;
        /*border: 1px solid rgba(0,0,0,.15);*/
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: #fff;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }

    .top-nav>.open>.dropdown-menu>li>a {
        white-space: normal;
    }

    .bg-teal-400 {
        background-color: #26a69a;
        border-color: #26a69a;
        color: #fff;
        padding:8px;

    }

    .bg-teal-401 {
        background-color: #29b6f6;
        border-color: #29b6f6;
        color: #fff;
        padding:8px;
    }

    .bg-teal-402 {
        background-color: #ec407a;
        border-color: #ec407a;
        color: #fff;
        padding:8px;

    }

    .div-content{
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 16px;
        -webkit-line-clamp: 2;
        height: 31px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    .over-y-content{
        height: 359px;
        overflow-y: scroll;
    }
    .over-y-content-member{
        height: 250px;
        overflow-y: scroll;
    }
    .card {
        padding: 20px;
    }
    .fa-member-table-icon {
        font-size: 1.2em;
    }
    .fa-member-table-icon.orange {
        color: red;
    }
    .fa-member-table-icon.green {
        color: green;
    }
    .nlabel-success {
        background: green;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        font-size: 0.9em;
    }
    .nlabel-danger {
        background: red;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        font-size: 0.9em;
    }
    .nlabel-warning {
        background: orange;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        font-size: 0.9em;
    }