head,body {
    font-family: Roboto, sans-serif !important;
    height: 100%;
    width: 100%;
    color: #222;
    font-size: 14px;
}
.jumbotron {
 padding: 4rem 2rem 2rem 2rem;
}
.row {
  margin: 0;
  /*===Header===*/
}
#header{
  margin: 0 50px;
}
#logo{
    display: block;
    margin: 1%;
    width: 40%;
}

#btn-search {
  background-color: #35cc7b;
  border-radius: 4px;
  transition: all .2s ease-out;
  margin-left: 5px;
}
input.form-control:focus{
  box-shadow: 0 0 0 0.2rem #35cc7b;
}

#btn-search:hover {
  opacity: .5;
}

#header div.form-row1 {
  background: url(../../image/img/bghotline.png) no-repeat;
  background-size: 100% 45px;
  font-size: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
  #header div.form-row {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

#header span{
  color: white;
}

#header span a{
  color: white;
}

#header div.form-row2{
  padding-top: 10px;
}

#header div.form-row2 .col {
  float: left;
  width: 33.3%;
  text-align: center;
  padding: 0 0 0 0;
}
#header div.form-row2 .col a{
  color: #35cc7b;
  font-size: 15px;
}

  /*==Top nav==*/
nav {
    background-color: #35cc7b;
    z-index: 990;
    color: #1b762f;
    text-align: center;
  }
  
  #navbarSupportedContent .nav-link {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
	transition: all 1s;
	-moz-transition: all 1s;
  -webkit-transition: all 1s;
  position: relative;
  text-decoration: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-right: 1px solid #2a9e36;
  
}
.dropdown-item{
  
  color: #fff;
  font-size: 16px;
  transition: all 1s;
	-moz-transition: all 1s;
  -webkit-transition: all 1s;
  text-decoration: none;
  text-align: center;
}
.sub-danhmuc{
  background-color: #2a8d58;
}



nav a:hover {
  background-color: #ede628;
  color: #35cc7b;
  height: 100%;
}
.navbar-toggler-icon {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  color: #000;
  padding-right: 1.8rem;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: .25rem;
  overflow: visible;
  
} 
.btnpullright {
  background-color: #35cc7b; 
  border-color: #35cc7b;
  margin: 0;
  padding: .375rem 0;
}
.btnpullright .nav-link {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
	transition: all 1s;
	-moz-transition: all 1s;
  -webkit-transition: all 1s;
  position: relative;
  text-decoration: none;
  
}
.product-thumbnail__quantity {
  font-size: 0.8em;
  white-space: nowrap;
  padding: 0.05em 0.45em;
  border-radius: 2em;
  background-color: #1c6216;
  color: #fff;
  position: absolute;
  right: -1px;
  top: -6px;
  z-index: 3;
}
.product-thumbnail {
 
  position: relative;
}

/*==menu==*/

.menu {
  
	background-color: #35cc7b;
  border-right: 1px solid #2a9e36;
  width: 100%;
}

#menu ul {
	list-style-type: none;
	padding: 0;
  margin: 0;
  text-align: left;
}
#menu ul li {
	line-height: 3.55em;
	height:3.55em;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	position: relative;
}
#menu ul li a {
	display: block;
	color: #fff;
	padding:0 1em;
  border-bottom: 1px dotted #1b762f;
  font-size: 16px;
  
}

#menu ul li:hover {
	background-color: #454545;
}


/*==Slideshow container==*/
.carousel-inner img {
  width: 100%;
  height: 450px;
}

.carousel-caption {
  position: absolute;
  top: 70%;
  transform:translateY(-50%);
  left: 15%;
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
   font-size: 200%;
   font-weight: 500;
   text-shadow: 1px 1px 10px #000;
   padding-bottom: 1rem;
}
.carousel-indicators {
  padding-right: 0;
}

  /*Product-home*/
  
  #title{
    margin: 20px 0;
    border-bottom: 1px solid #35cc7b;
    clear: both;
    border-left: 10px solid #35cc7b;
  }
  
  .product-name{
    background: #fffff4;
    position: relative;
    padding: 0 0 0 10px;
    height: 40px;
    line-height: 40px;
    
  }
  .product-name a{
    color: #35cc7b;;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;  
  }
  .product-name a:hover{
    color: #454545;
  }
  .default {
    border-color: #717171;
    color: #fff;
    background-color: #35cc7b
  }
  
  .default:hover {
    background: #717171;
  }
#product-home{
    margin:0 60px;
    background: #fff;
  }
  /*Product-card*/
  #box-product1 {
    text-align: center;
    margin-bottom: 5px;
  }
  .price-area {
    margin: 10px 0px;
  }
  .price {
    color: grey;
    font-size: 18px;
    vertical-align: bottom;
    margin: 10px 0px;
  }
  .price.discount {
    color: #B80101;
  }
  
  #box-product1 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #35cc7b;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  #box-product1 button:hover {
    opacity: 0.7;
  }
  .image-prod, .image-tintuc {
    width: 100%;
    height: 250px;
    left: 0;
  }
  .image-tintuc {
    margin-bottom: 15px;
  }
  .overlay {
    height: 100%;
    position: absolute; 
    top: 0px; 
    left: 0px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    z-index: 20;
  }
  .overlay-pro {
    height: 59%;
    position: absolute; 
    top: 10px; 
    left: 12px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 90%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    z-index: 20;
  }
  .product-list #box-product1:hover .overlay-pro {
    opacity: 1;
  }
  #box-product1 {
    padding: 10px;
    border: 1px dotted #D8D8D8;
  }
  #box-product1 h5 {
    margin: 15px 0px 5px;
    color: #717171;
    font-size: 17px
  }
  .product-list #box-product1:hover .overlay {
    opacity: 1;
  }
  .circles {
    right: 13px;
    top: 13px;
    border-radius: 50%;
    background-color: yellow;
    color: #e73b3b;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 15;
  }

  /*Tintuc-home*/
  #tintuc-home{
    padding: 0.3em 1em;
    margin:0 50px;
    background: #fff;
  }
  #tintuc-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
    width:25%;
    text-align: left;
    font-family: arial;
    padding:15px;
    color: #35cc7b;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  #tintuc-card > p > a{
    color: #35cc7b;
    text-decoration:none;
    font-size: 16px;
  }

  #tintuc-card span a {
    float: right;
    padding-right: 5px;
    color: #35cc7b;
    text-decoration:none;
  }
  #tintuc-card a:hover {
    color: #454545;
  }


  /*Info-home*/
  #info-home {
    border: 2px dotted #35cc7b;
    margin: 20px 50px;
    padding:20px; 
    text-align: justify;
  }

  
  /*Footer*/
  #footer {
        margin: 40px 100px;
  }
  #footer span {
    font-size: 15px;
  }
  #footer .col-md-3 {
    position: relative;
    width: 100%;
  }
  #footer .col-md-4 {
    padding-top: 20px;
  }

  /*Footer2*/
  .footer2 {
    background-color: #838383;
  }
  .social a {
    font-size: 4.5em;
    padding: 3rem;
  }
  
  .fa-facebook{
    color: #3b5998;
  }
  .fa-twitter{
    color: #00aced
  }
  .fa-google-plus-g {
    color: #dd4b39;
  }
  .fa-instagram {
    color: #517fa4;
  }
  .fa-youtube {
    color: #bb0000;
  }
  
  .fa-facebook:hover, 
  .fa-twitter:hover, 
  .fa-google-plus-g:hover,
  .fa-instagram:hover,
  .fa-youtube:hover {
    color: #d5d5d5;
  }
  .social a{
    font-size: 2em;
    padding: .7rem;
  }
/*Support*/
.support {
  background-color: #282828;
  color: #fff;
  padding: 0 150px;
}
.support a {
  
  text-decoration: none;
  color: #fff;
}


/*Button scroll back top*/
#mBtntotop {
  width: 40px;
    height: 40px;
    position: fixed;
    cursor: pointer;
    color: #E25000;
    text-align: center;
    line-height: 27px;
    right: 20px;
    bottom: 30px;
    border: 1px solid #ede628;
    background: #fffd87;
    BORDER-RADIUS: 28PX;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    font-size: 20px;
    transition: all .2s ease-out;
    z-index: 999;
}

#mBtntotop:hover {
  background-color: rgb(135, 233, 181);
}
#mBtntotop.show {
  opacity: 1;
}

/*==menu2 (About)==*/
.menu2{
height: min-content;
  background-color: #35cc7b;
	width: 250px;
  right: 0;
  border-left: 1px solid #2a9e36;
}

.menu2 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.menu2 ul li {
	line-height: 2.9em;
	height:2.9em;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	position: relative;
}
.menu2 ul li a {
	display: block;
	color: #fff;
	padding:0 1em;
	border-bottom: 1px solid #333;
}

.menu2 ul li:hover {
	background-color: #454545;
}
.menu2 .sub-menu {
	display: none;
	position: absolute;
  top: 0;
  width: 200px;
  right:250px;
  background-color: #35cc7b;
  z-index: 90;
}
.menu2 ul li:hover .sub-menu {
	display: block;
}
.category-new {
  padding: 0 0 0 0;
}
.category-new li{
  list-style: none;
  margin-bottom: 0;
  border-bottom: .2px solid #8cd382;
  line-height: 300%;
}
.category-new li a {
  text-decoration: none;
  color: #35cc7b;
}
.category-new li a:hover {
  text-decoration: none;
  color: #f7e133;
}
.sticky-top {
  border-bottom: 1px solid #1b762f;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.75);
}
.form-dky {
  padding: 7px;
  border-radius: 10px;
  color: #787878
}
/*thanks*/
.thanksbody{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.thankyou-message {
  margin-top: 7px;
  margin-bottom: 25px;
}

.order-info{
  border: 0.5px solid #3d3d3d;
  border-radius: 10px;
}
svg:not(:root) {
  overflow: hidden;
}
.expandable--pull-right {
  position: absolute;
  top: 3px;
  right: 15px;
  color: #1C6216;
  margin-top:15px;
}
summary-header--border {
  border-bottom: 1px solid #000000;
}
.summary-header--thin {
  padding: 7px 15px;
}
.order-summary .summary-section.summary-product {
  padding: 5px 20px 0 20px;
}
.order-summary .summary-section {
  padding: 12px 20px;
}
.summary-section {
  border-top: 1px solid #000000;
  padding: 20px;
}
.product-thumbnail::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset;
  z-index: 2;
}
.total-line-name.total-line-name--bold {
  font-size: 18px;
}

.total-line-name--bold {
  font-weight: bold;
}
.total-line-price {
  color: #1c6216;
  font-size: 20px;
}


/*------------Giỏ hàng-------------------*/
.table {
  display: table;
}
.table {
  width: 100%;
  margin-bottom: 1em;
  border-color: #ececec;
  border-spacing: 0;
}

/*----------------USERS---------------------------*/
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table1 {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}
/*--DEtail--*/

.tiny-image{
  width: 100%;
  height: 60px;
  display: block;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
}
.list-view-images a {
  width: 23%;
  display: inline-block;
  margin: 2.5px;
  border: 1px solid #ddd;
  padding: 3px;


}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: #ffffff54 /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
.detail-title {
  margin-bottom: 10px;
  font-size: 20px;
  border-bottom: 1px solid #dadada;
  padding-bottom: 5px;
}
.kcode{
  text-align: left;
  display: inline;
  padding-right: 20px;
  font-size: 14px;  
}
.status{
  display: inline-block;
  border-left: 2px solid #ccc;
  padding-left: 20px;
  font-size: 14px;
}
.detail-price {
  color: red;
  font-size: 26px;
  line-height: 1;
  margin-top: 15px;
  font-weight: 700;
}
.old_price {
  margin-top: 22px;
}
.saving {
  margin-top: 18px;
  color: red;
  font-size: 18px;
}
.ordernow {
  display: inline-block;
  margin-top: 10px;
  width:100%;
}
a.order-this-now {
  display: inline-block;
  padding: 5px 0;
  text-align: center;
  line-height: 1;
  background: #ede628;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  color: #fff;
  margin-top: 0;
  width: 100%;
  font-size: 18px;
  border-radius: 2px;
  text-transform: none;
}
a.order-this-now:hover {
  background: #22774A;
}
a.order-this-now .p1 {
  float: left;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 7px;
}
a.support {
  background-color: #0276c7;
  color: #fff;
  padding: 5px 0;
  text-align: center;
  line-height: 1;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  margin-top: 0;
  width: 100%;
  border-radius: 2px;
  text-transform: none;
  font-size: 18px;
  display: inline-block
}
a.support:hover {
  color: #ede628;
}
a.support .p1 {
  float: left;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 7px;
}

.short-des {
  text-align: justify;
  background: #f5f5f5;
  margin-top: 15px;
}






/*---Media Queries Responsive--*/
@media (min-width: 992px){
  .mobile {
      display: none;
  }
  }
  
@media (max-width: 992px) {
  .menu {
    display: none;
  }
  .side-col {
    display :none;
  }
  .social a{
    font-size: 2em;
    padding: .7rem;
  }
  .carousel-inner img {
    width: 100%;
    height: 400px;
  }
  .container-fluid {
    margin: 20px 0px 10px 0px;
    position: relative;
    padding: 0 0 0 0;
    left: 0;
    width: 100%;
  }
  #product-home{
    padding: 0.3em 1em;
    margin:0 0;
    background: #fff;
  }
  #tintuc-home{
    padding: 0.3em 1em;
    margin:0 0;
    background: #fff;
    padding-bottom: 5px;
  }
  #info-home{
    padding: 0.3em 1em;
    margin:0 0;
    background: #fff;
  }
  #footer{
    padding: 0.3em 1em;
    margin:0 0;
    background: #fff;
  }
  .support {
    padding: 0.3em 1em;
    margin:0 0;
  }
}
  @media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .thankyou-message{
    text-align: center;
  }
  .carousel-inner img {
    height: 300px;
  }

  .carousel-caption h1 {
    font-size: 350%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
  }
  
  .carousel-caption h3 {
     font-size: 140%;
     font-weight: 400;
     padding-bottom: .2rem;
  }
  .carousel-caption .btn{
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%
  }
  .social a{
    font-size: 2em;
    padding: .7rem;
  }
  
}
  @media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }
  .carousel-inner img {
    height: 200px;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .social a{
    font-size: 1.8em;
    padding: .5rem;
    margin-bottom: 1rem;
  }


  .carousel-caption h3 {
     font-size: 110%;
  }
  .carousel-indicators {
    display: none;
  }
  .btn-xtc{
    display: none;
  }
  #login1 {
    margin-left:0;
    text-align: center;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}
.hotline {
    border: 1px solid red;
    border-radius: 100%;
    height: 45px;
    width: 45px;
    padding-left: 5px;
    padding-top: 2px;
    background-color: red;
    position: fixed; bottom: 30px; left: 20px;
    z-index: 100;
}
.btn-group {
  list-style: none;
  background-color: #35cc7b;
  color: #FFEC69;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 15px;
}
.btn-group a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  
}